/* CSS DOCUMENT */
#root.contact {
	background: rgba(24,28,31,1.00);
	color: rgba(162,169,185,1.00);
}

#root.contact h2,
#root.contact h3 {
	color: rgba(234,242,247,1.00);
}

#root.contact h1 {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #4e4949;
	color: rgba(234,242,247,1.00);
}

#root.contact section {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #4e4949;
}

#root.contact section a {
	color: #d38432;
}

#root.contact section table, 
#root.contact section th, 
#root.contact section td {
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 10px;
}

#root.contact section table {
	margin-bottom: 30px;
}

#root.contact section th {
	color: rgba(234,242,247,1.00);
}

#root.contact .v21_3 {
	background-color: rgba(24,28,31,1.00);
}