/* Full document */
.about-div{
    width: 100vw;
    --ratio: calc(905 / 1920);
    height: calc(100vw * var(--ratio));
    background:  url("../resources/about/about_bkg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.about-left{
    width: 50vw;
    --ratio: calc(905 / 1920);
    height: calc(100vw * var(--ratio));
    /* background: rgba(0,0,0,1);
    border: 1px solid red; */
    position: relative;
    overflow: visible;
    display: inline-block;
    vertical-align: middle;
}
.about-right {
    width: 50vw;
    --ratio: calc(905 / 1920);
    height: calc(100vw * var(--ratio));
    /* background: rgba(0,0,0,1); */
    position: relative;
    overflow: visible;
    display: inline-block;
    vertical-align: middle;
    }
.about-left-image{
    
   /*  border: 3px solid green; */
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    position: absolute;
    
    background: url("../resources/about/AboutUs-Wagner.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:contain;
    transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%);
    overflow: hidden; 
    
    }
.about-right-section1{
    height: auto;
    width: 30vw;
    /* background: rgba(138, 37, 37, 1); */
    position: relative;
    top: 14vw;
    left: 5vw;
    transform: translate(0%, -50%); -ms-transform: translate(-50%, -50%);
    }

.div-buttons{
    position: relative;
    width: 100%;
    /* border: 1px solid green; */
    text-align: right;
}
.btn-about-whitepaper{
    background: url("../resources/about/btn_about_wp.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    display: inline-block;
    text-align: start;
    width: 40%;
    height: 6vh;
    margin-top: 2vh;
    cursor: pointer;
    /* border: 1px solid green; */
    
}
.btn-about-deck{
    background: url("../resources/about/btn_about_deck.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    display: inline-block;
    width: 33%;
    height: 6vh;
    margin-top: 2vh;
    cursor: pointer;
}
.btn-about-wt{
    background: url("../resources/about/btn_about_wt.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    display: inline-block;
    text-align: start;
    width: 44%;
    height: 6vh;
    top: 31vw;
    cursor: pointer;
    left: 17vw;
    
}
.about-text-bold {
    color: rgba(255,255,255,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-size: 1.5vw;
    font-family: 'neue-bold';
}
.about-text {
    width: 35vw;
    color: rgba(255,255,255,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-size: 1.35vw;
    font-family: 'neue-thin';
    opacity: 1;
    text-align: justify;
}
.video {
    width: 30vw;
    --ratio: calc(529 / 870);
    height: calc(30vw * var(--ratio));
    background: url("../resources/about/v7_55.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    right: 0vw;
    top: 12vw;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    }
