/* Full document Modified: Art - 09-25-2022 */
.about-div{
    width: 100vw;
    --ratio: calc(905 / 1920);
    height: calc(100vw * var(--ratio));
    background:  url("../resources/about/about_bkg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.about-left{
    width: 50vw;
    --ratio: calc(905 / 1920);
    height: calc(100vw * var(--ratio));
    /* background: rgba(0,0,0,1);
    border: 1px solid red; */
    position: relative;
    overflow: visible;
    display: inline-block;
    vertical-align: middle;
}
.about-right {
    width: 50vw;
    --ratio: calc(905 / 1920);
    height: calc(100vw * var(--ratio));
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
.about-left-image{
    
   /*  border: 3px solid green; */
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    position: absolute;
    
    background: url("../resources/about/AboutUs-Wagner.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:contain;
    transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%);
    overflow: hidden; 
    
    }
.about-right-section1{
    height: auto;
    width: 30vw;
    /* background: rgba(138, 37, 37, 1); */
    position: relative;
    top: 14vw;
    left: 5vw;
    transform: translate(0%, -50%); -ms-transform: translate(-50%, -50%);
    }

.div-buttons{
    position: relative;
    width: 100%;
    /* border: 1px solid green; */
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.div-buttons .parallel-btn {
    margin-left: 40px;
}

.btn-about-whitepaper{
    background: url("../resources/about/btn_about_wp.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    display: inline-block;
    text-align: start;
    width: 40%;
    height: 6vh;
    margin-top: 2vh;
    cursor: pointer;
    /* border: 1px solid green; */
    
}
.btn-about-deck{
    background: url("../resources/about/btn_about_deck.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    display: inline-block;
    width: 33%;
    height: 6vh;
    margin-top: 2vh;
    cursor: pointer;
}
.btn-about-wt{
    background: url("../resources/about/btn_about_wt.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    display: inline-block;
    text-align: start;
    width: 44%;
    height: 6vh;
    top: 31vw;
    cursor: pointer;
    left: 17vw;
    
}
.about-text-bold {
    color: rgba(255,255,255,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-size: 1.5vw;
    font-family: 'neue-bold';
}
.about-text {
    width: 35vw;
    color: rgba(255,255,255,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-size: 1.35vw;
    font-family: 'neue-thin';
    opacity: 1;
    text-align: justify;
}
.video {
    width: 30vw;
    --ratio: calc(529 / 870);
    height: calc(30vw * var(--ratio));
    /*background: url("../resources/about/v7_55.png");*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    right: 0vw;
    top: 12vw;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    
/*    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; */
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 640px ){

    
    .div-buttons .parallel-btn {
        margin-left: 0;
    }

    .fundrising-div .div-buttons .parallel-btn.parallel-yellow-btn,
    .about-right-section1 .div-buttons .parallel-btn.parallel-yellow-btn {
        margin-right: 25px;
    }
}

@media(max-width: 374px){
    /* Full document */
    .about-div{
        --ratio: calc(573 / 360);
        background:  url("../resources/about/about_mobile_bkg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .about-left{
        width: 100vw;
    }
    .about-left-image{
        width: 50vw;
        --ratio: calc(661 / 566);
        height: calc(50vw * var(--ratio));
        top: calc(30vw * var(--ratio));
    }
    .about-right {
        width: 100vw;
        --ratio: calc(661 / 566);
        height: calc(100vw * var(--ratio));
    }
    .about-right-section1{
        width: 80vw;
        position: relative;
        top: 32vw;
        left: 10vw;
    }
    .about-text {
        width: 100%;
        font-size: 3.75vw;
    }
    .about-text-bold {
        font-size: 3.75vw;
    }
    .div-buttons{
        text-align: right;
    }
    .btn-about-whitepaper{
        width: 40%;
        height: 10vw;
        margin-top: 1vw;
        cursor: pointer;
        /* border: 1px solid green; */
        
    }
    .btn-about-deck{
        background: url("../resources/about/btn_about_deck.png");
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        display: inline-block;
        width: 30%;
        height: 10vw;
        margin-top: 1vw;
        cursor: pointer;
    }
    .btn-about-wt{
        width: 44%;
        height: 6vh;
        top: 80vw;
        right: 0vw;
        left: auto;
    }
    .video {
        width: 80vw;
        --ratio: calc(161 / 265);
        height: calc(80vw * var(--ratio));
        background: url("../resources/about/img_video.png");
        background-size: contain;
        top: 30vw;
    }
}

@media(min-width: 375px) and (max-width: 424px){
    /* Full document */
    .about-div{
        --ratio: calc(573 / 360);
        background:  url("../resources/about/about_mobile_bkg.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .about-left{
        width: 100vw;
    }
    .about-left-image{
        width: 50vw;
        --ratio: calc(661 / 566);
        height: calc(50vw * var(--ratio));
        top: calc(30vw * var(--ratio));
    }
    .about-right {
        width: 100vw;
        --ratio: calc(661 / 566);
        height: calc(100vw * var(--ratio));
    }
    .about-right-section1{
        width: 80vw;
        position: relative;
        top: 32vw;
        left: 10vw;
    }
    .about-text {
        width: 100%;
        font-size: 3.75vw;
    }
    .about-text-bold {
        font-size: 3.75vw;
    }
    .div-buttons{
        text-align: right;
    }
    .btn-about-whitepaper{
        width: 40%;
        height: 10vw;
        margin-top: 1vw;
        cursor: pointer;
        /* border: 1px solid green; */
        
    }
    .btn-about-deck{
        background: url("../resources/about/btn_about_deck.png");
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        display: inline-block;
        width: 30%;
        height: 10vw;
        margin-top: 1vw;
        cursor: pointer;
    }
    .btn-about-wt{
        width: 44%;
        height: 6vh;
        top: 80vw;
        right: 0vw;
        left: auto;
    }
    .video {
        width: 80vw;
        --ratio: calc(161 / 265);
        height: calc(80vw * var(--ratio));
        background: url("../resources/about/img_video.png");
        background-size: contain;
        top: 30vw;
    }
}

@media(min-width: 425px) and (max-width: 767px){
    /* Full document */
    .about-div{
        --ratio: calc(573 / 360);
        background:  url("../resources/about/about_mobile_bkg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .about-left{
        width: 100vw;
    }
    .about-left-image{
        width: 45vw;
        --ratio: calc(661 / 566);
        height: calc(45vw * var(--ratio));
        top: calc(27vw * var(--ratio));
    }
    .about-right {
        width: 100vw;
        --ratio: calc(661 / 566);
        height: calc(100vw * var(--ratio));
    }
    .about-right-section1{
        width: 80vw;
        position: relative;
        top: 25vw;
        left: 10vw;
    }
    .about-text {
        width: 100%;
        font-size: 3.75vw;
    }
    .about-text-bold {
        font-size: 3.75vw;
    }
    .div-buttons{
        text-align: right;
    }
    .btn-about-whitepaper{
        width: 40%;
        height: 10vw;
        margin-top: 1vw;
        cursor: pointer;
        /* border: 1px solid green; */
        
    }
    .btn-about-deck{
        background: url("../resources/about/btn_about_deck.png");
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        display: inline-block;
        width: 30%;
        height: 10vw;
        margin-top: 1vw;
        cursor: pointer;
    }
    .btn-about-wt{
        width: 44%;
        height: 6vh;
        top: 80vw;
        right: 0vw;
        left: auto;
    }
    .video {
        width: 80vw;
        --ratio: calc(161 / 265);
        height: calc(80vw * var(--ratio));
        background: url("../resources/about/img_video.png");
        background-size: contain;
        top: 30vw;
    }
}
@media(min-width: 768px) and (max-width: 1023px){
    .about-div{
        width: 100vw;
        --ratio: calc(566 / 821);
        height: calc(100vw * var(--ratio));
        background:  url("../resources/about/about_tablet_bkg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .about-left{
        width: 50vw;
        --ratio: calc(661 / 566);
        height: calc(50vw * var(--ratio));
    }
    .about-left-image{
        width: 40vw;
        --ratio: calc(661 / 566);
        height: calc(40vw * var(--ratio));
        top: 30vw;
    }
    .about-right {
        width: 50vw;
        --ratio: calc(661 / 566);
        height: calc(50vw * var(--ratio));
    }
    .about-right-section1{
        width: 40vw;
        top: 16vw;
    }
    .about-text {
        width: 100%;
        font-size: 1.9vw;
    }
    .about-text-bold {
        font-size: 1.9vw;
    }
    .btn-about-whitepaper{
        height: 5vw;
        margin-top: 1vw;
    }
    .btn-about-deck{
        height: 5vw;
        margin-top: 1vw;
    }
    .video {
        width: 40vw;
        height: calc(40vw * var(--ratio));
        top: 16vw;
    }
    .btn-about-wt{
        top: 42vw;
        left: auto;
        right: 0vw;
    }
}