.v19_104 {
  margin-top: -8vh;
  width: 100vw;
  --ratio: calc(386 / 2010);
  height: calc(var(--ratio) * 100vw);
  background: url("../resources/dividerTwo/dividerTwoBackground.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
.v19_71 {
  width: 62vw;
  --ratio: calc(325 / 1209);
  height: calc(var(--ratio) * 62vw);
  background: url("../resources/dividerTwo/dividerTwoPanel.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1vw;
  left: 18.25vw;
  overflow: hidden;
}
.v19_92 {
  width: 11vw;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8vw;
  left: 7vw;
  font-family: "neue-regular";
  font-size: 1.5vw;
  opacity: 1;
  text-align: center;
}
.v19_98 {
  width: 10vw;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7vw;
  left: 26.5vw;
  font-family: "neue-regular";
  font-size: 1.5vw;
  opacity: 1;
  text-align: center;
}
.v19_95 {
  width: 11vw;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 8vw;
  left: 45vw;
  font-family: "neue-regular";
  font-size: 1.5vw;
  opacity: 1;
  text-align: center;
}

@media(max-width: 374px){
  .v19_104 {
    margin-top: -3vh;
  }
}

@media(min-width: 375px) and (max-width: 424px){
  .v19_104 {
    margin-top: -3vh;
  }
}
