* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v18_57 {
  margin-top: -9vh;
  margin-bottom: -10vh;
  z-index: 1;
  width: 100%;
  height: 395px;
  /*background: url("../resources/dividerOne/v18_57.png");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_66 {
  width: 100%;
  height: 373px;
  background: url("../resources/dividerOne/v18_66.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 0px;
  overflow: hidden;
}
.v18_59 {
  width: 592px;
  height: 333px;
  background: url("../resources/dividerOne/v18_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  overflow: hidden;
}
.v18_60 {
  width: 758px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 169px;
  left: 586px;
  text-shadow: 0px 4.0001373291015625px 4px rgba(0, 0, 0, 0.25);
  font-family: Orbitron;
  font-weight: ExtraBold;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v18_65 {
  width: 153px;
  height: 141px;
  background: url("../resources/dividerOne/v18_65.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 131px;
  left: 875px;
  overflow: hidden;
}
.v18_67 {
  width: 294px;
  height: 4px;
  background: url("../resources/dividerOne/v18_67.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 813px;
  overflow: hidden;
}
.v18_63 {
  width: 498px;
  height: 386px;
  background: url("../resources/dividerOne/v18_63.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1343px;
  overflow: hidden;
}
