* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v18_57 {
  margin-top: -4vw;
  margin-bottom: -6vw;
  z-index: 1;
  width: 100%;
  --ratio: calc(373 / 1921);
  height: calc(100vw * var(--ratio));
  background: url("../resources/dividerTwo/v19_104.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.v18_59 {
  width: 30vw;
  --ratio: calc(333 / 592);
  height: calc(30vw * var(--ratio));
  background: url("../resources/dividerOne/v18_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0;
  overflow: hidden;
}
.v18_60 {
  width: 50vw;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6vw;
  left: 25vw;
  text-shadow: 0px 4.0001373291015625px 4px rgba(0, 0, 0, 0.25);
  font-family: Orbitron;
  font-weight: 700;
  font-size: 3.5vw;
  opacity: 1;
  text-align: center;
}
.v18_65 {
  width: 8vw;
  --ratio: calc(141 / 153);
  height: calc(8vw * var(--ratio));
  background: url("../resources/dividerOne/v18_65.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: calc(5vw * var(--ratio));
  left: 46vw;
  overflow: hidden;
}
.v18_67 {
  width: 20vw;
  --ratio: calc(4 / 294);
  height: calc(30vw * var(--ratio));
  background: url("../resources/dividerOne/v18_67.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14vw;
  left: 40vw;
  overflow: hidden;
}
.v18_63 {
  width: 30vw;
  --ratio: calc(333 / 592);
  height: calc(30vw * var(--ratio));
  background: url("../resources/dividerOne/v18_63.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}
