.fundrising-div{
    position: relative;
    --ratio: calc(223 / 480);
    margin-bottom: calc(-20vw * var(--ratio));
}
.fundrising-background{
    width: 100vw;
    --ratio: calc(223 / 480);
    height: calc(100vw * var(--ratio));
    background: url("../resources/fundrising/fundrising_background.svg");
    background-size: cover;
}
.fundrising-left-ship{
    width: 25vw;
    height: 25vw;
    position: absolute;
    background: url("../resources/fundrising/fundrising_leftship.png");
    background-size: cover;
    top: 10vw;
}
.fundrising-mid-div{
    position: absolute;
    width: 50vw;
    height: 40vw;
    left: 25vw;
    top: 5vh;
}
.fundrising-stats-imgs{
    width: 15vw;
    --ratio: calc(418 / 301);
    height: calc(15vw * var(--ratio));
    top: 7vw;
    position: absolute;
    background: url("../resources/fundrising/fundrising_stats.svg");
    background-size: cover;
}
.fundrising-title{
    font-family: "neue-bold";
    color: #FFFFFF;
    white-space: nowrap;
    line-height: 3.5vw;
    font-size: 2.3vw;
    position: absolute;
    width: 31vw;
    left: 16vw;
    top: 7vw;
}
.fundrising-title-big{
    font-size: 4.45vw;
}
.fundrising-text{
    font-family: "neue-thin";
    color: #FFFFFF;
    font-size: 1.75vw;
    text-align: justify;
    position: absolute;
    width: 31vw;
    left: 16vw;
    line-height: 2vw;
    top: 16vw;
}
.fundrising-text-bold{
    font-family: "neue-regular";
}

.fundrising-div .div-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 28vw;
    left: 7vw;
    z-index: 9;
}

.fundrising-btn-deck{
    position: absolute;
    width: 10vw;
    --ratio: calc(57 / 163);
    height: calc(10vw * var(--ratio));
    left: 23vw;
    top: 28vw;
    background: url("../resources/about/btn_about_deck.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1;
    transition: 200ms;
}
.fundrising-btn-deck:hover{
    width: 11vw;
    --ratio: calc(57 / 163);
    height: calc(11vw * var(--ratio));
}
.fundrising-btn-whitepaper{
    position: absolute;
    width: 14vw;
    --ratio: calc(57 / 163);
    height: calc(14vw * var(--ratio));
    left: 34vw;
    top: 28vw;
    background: url("../resources/about/btn_about_wp.png");
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1;
    transition: 200ms;
}
.fundrising-btn-whitepaper:hover{
    width: 15vw;
    --ratio: calc(57 / 163);
    height: calc(15vw * var(--ratio));
}
.fundrising-right-ship{
    width: 45vw;
    height: 45vw;
    position: absolute;
    right: 0vw;
    background: url("../resources/fundrising/fundrising_rightship.png");
    background-size: cover;
}

@media(max-width: 767px){
    .fundrising-background{
        width: 100vw;
        --ratio: calc(1279 / 1920);
        height: calc(100vw * var(--ratio));
        background: url("../resources/fundrising/fundrising_mobile_bkg.png");
        background-size: cover;
    }
    .fundrising-left-ship{
        display: none;
    }
    .fundrising-stats-imgs{
        left: 65vw;
        width: 30vw;
        --ratio: calc(804 / 582);
        height: calc(30vw * var(--ratio));
        background: url("../resources/fundrising/fundrising_stats.png");
        background-size: cover;
    }
    .fundrising-mid-div{
        top: 5vw;
        width: 50vw;
        height: 40vw;
        left: 0vw;
    }
    .fundrising-title{
        left: 5vw;
        width: 40vw;
        font-size: 3vw;
        line-height: 5vw;
    }
    .fundrising-title-big{
        font-size: 5.75vw;
    }
    .fundrising-right-ship{
        display: none;
    }
    .fundrising-text{
        width: 40vw;
        top: 19vw;
        left: 5vw;
        font-size: 2.5vw;
        line-height: 3vw;
    }
    .fundrising-btn-deck{
        width: 18vw;
        height: calc(18vw * var(--ratio));
        left: 5vw;
        top: 40vw;
    }
    .fundrising-btn-whitepaper{
        width: 23vw;
        height: calc(17vw * var(--ratio));
        left: 23vw;
        top: 40vw;
    }

    .fundrising-div .div-buttons {
        top: 38vw;
    }
}