.v14_11 {
  margin-top: -8vw;
  width: 100vw;
  --ratio: calc(760 / 1920);
  height: calc(var(--ratio) * 100vw);
  background: url("../resources/future/future_background.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  margin-bottom: calc(-10vw * var(--ratio));
}
/*Title*/
.v14_52 {
  width: 30vw;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10vw;
  left: 35vw;
  font-family: "neue-bold";
  font-weight: 95 Black;
  font-size: 2vw;
  opacity: 1;
  text-align: center;
}
/*Left panel*/
.v14_13 {
  width: 30vw;
  height: 25vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14vw;
  left: 19vw;
  overflow: hidden;
}
/*Subtitle left*/
.v14_17 {
  width: 40vw;
  position: relative;
  font-family: "neue-regular";
  font-size: 1.5vw;
  opacity: 1;
  text-align: justify;
}
.white-color{
  color: white;
}
.color-custom{
  color: #00B2FF;
}
/*Unity logo*/
.v14_18 {
  width: 7vw;
  --ratio: calc(111 / 109);
  height: calc(7vw * var(--ratio));
  background: url("../resources/future/v14_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2.5vw;
  left: 0px;
  overflow: hidden;
}
/*Left panel text*/
.v14_15 {
  width: 18vw;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2.5vw;
  left: 8vw;
  font-size: 1.25vw;
  opacity: 1;
  text-align: justify;
  font-family: "neue-thin";
  line-height: 1.75vw;
}
.text-highlight{
  font-family: "neue-regular";
}
/*Learn More*/
.v14_16 {
  width: 26vw;
  position: absolute;
  top: 10.5vw;
  left: 0;
  font-size: 1.15vw;
  text-align: right;
}
/*Icons div*/
.v14_19 {
  width: 30vw;
  height: 20vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13vw;
  left: 0px;
  overflow: hidden;
}
/*App Store*/
.v14_32 {
  width: 8vw;
  --ratio: calc(46 / 153);
  height: calc(8vw * var(--ratio));
  background: url("../resources/future/v14_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}
/*Play Store*/
.v14_56 {
  width: 8vw;
  --ratio: calc(46 / 153);
  height: calc(8vw * var(--ratio));
  background: url("../resources/future/v14_56.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  top: 3vw;
  left: 0;
}
/*Platforms div*/
.v14_33 {
  width: 20vw;
  height: 6vw;
  position: absolute;
  top: 1vw;
  left: 9vw;
  overflow: hidden;
}
/*Windows*/
.v14_34 {
  width: 3vw;
  --ratio: calc(50 / 49);
  height: calc(5vw * var(--ratio));
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.v14_36 {
  width: 3vw;
  --ratio: calc(50 / 49);
  height: calc(3vw * var(--ratio));
  background: url("../resources/future/v14_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
.v14_35 {
  width: 3vw;
  color: #FFFFFF;
  position: absolute;
  top: 3.5vw;
  left: 0;
  font-family: "neue-regular";
  font-size: 0.5vw;
  text-align: center;
}
/*MacOS*/
.v14_42 {
  width: 3vw;
  position: absolute;
  top: 0;
  left: 5vw;
}
.v14_44 {
  width: 3vw;
  --ratio: calc(52 / 51);
  height: calc(3vw * var(--ratio));
  background: url("../resources/future/v14_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
}
.v14_43 {
  width: 3vw;
  color: #FFFFFF;
  position: absolute;
  top: 3.5vw;
  left: 0;
  font-family: "neue-regular";
  font-size: 0.5vw;
  text-align: center;
}
/*Linux*/
.v14_37 {
  width: 3vw;
  position: absolute;
  top: 0;
  left: 9.5vw;
}
.v14_38 {
  width: 3vw;
  --ratio: calc(43 / 51);
  height: calc(4vw * var(--ratio));
  background: url("../resources/future/v14_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
}
.v14_40 {
  width: 3vw;
  color: #FFFFFF;
  position: absolute;
  top: 3.5vw;
  left: 0;
  font-family: "neue-regular";
  font-size: 0.5vw;
  text-align: center;
}
.v14_45 {
  width: 3vw;
  --ratio: calc(50 / 56);
  height: calc(3vw * var(--ratio));
  background: url("../resources/future/v14_45.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18.5vw;
  left: 18.5vw;
  overflow: hidden;
}

/*Right panel*/
.v14_46 {
  width: 30vw;
  height: 25vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14vw;
  left: 54vw;
  overflow: hidden;
}
/*Subtitle right*/
.v14_50 {
  width: 40vw;
  position: relative;
  font-family: "neue-regular";
  font-size: 1.5vw;
  opacity: 1;
  text-align: justify;
}
/*Text right*/
.v14_48 {
  width: 18vw;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2.5vw;
  left: 0;
  font-size: 1.25vw;
  opacity: 1;
  text-align: justify;
  font-family: "neue-thin";
  line-height: 1.75vw;
}
/*Right image*/
.v14_51 {
  width: 7vw;
  --ratio: calc(111 / 109);
  height: calc(7vw * var(--ratio));
  background: url("../resources/future/v14_51.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
  opacity: 1;
  position: absolute;
  top: 2.5vw;
  right: 2vw;
  overflow: hidden;
}
/*Learn more*/
.v14_49 {
  width: 28vw;
  position: absolute;
  top: 10.5vw;
  left: 0;
  font-size: 1.15vw;
  text-align: right;
}
/*Right icons*/
.v14_53 {
  width: 26vw;
  --ratio: calc(92 / 389);
  height: calc(26vw * var(--ratio));
  background: url("../resources/future/v14_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 27vw;
  left: 54vw;
  overflow: hidden;
}



.name {
  color: #fff;
}






.v14_54 {
  width: 56px;
  height: 25px;
  background: url("../resources/future/v14_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 692px;
  left: 936px;
  overflow: hidden;
}