/* pk34 - Modified: Art - 09-25-2022 */
/* background header */
a {
    transition: all 0.2s ease-in-out;
}
.hidden {
    display: none !important;
}
.header-div{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
    z-index: 999;
}
/* Logo */
.header-div-logo{
    position: absolute;
    width: 37vw;
    left: 0vw;
    top: 2vh;
}
.header-logo{
    width: 5vh;
    margin-left: 1vw;
    cursor: pointer;
}
/* Icons */
.header-div-icon{
    position: absolute;
    width: 23vw;
    left: 38vw;
    top: 2.5vh;
}
.header-icon{
    color: #FFFFFF;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    width: 1.5vw;
}
/* Buttons */
.header-div-buttons{
    position: absolute;
    width: 35vw;
    left: 75vw;
}
.btn-header-div{
    background: url("../resources/main/blue_btn.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    display: inline-block;
    width: 33%;
    height: 6vh;
    margin-top: 2vh;
    cursor: pointer;
}
.btn-header-div-play{
    background: url("../resources/main/play_button_header.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    display: inline-block;
    width: 33%;
    height: 6vh;
    margin-top: 2vh;
    cursor: pointer;
}
.btn-header{
    width: auto;
    height: 4vh;
    cursor: pointer;
    transition: 100ms;
}
.btn-header-div:hover{
    /*width: 10.5vw;*/
    width: 34%;
    height: 6.25vh;
    margin-top: 1.75vh;
    transition: 200ms;
}
.btn-header-div-play:hover{
    /*width: 10.5vw;*/
    width: 34%;
    height: 6.25vh;
    margin-top: 1.75vh;
    transition: 200ms;
}
.btn-lbl-header{
    color: #FFFFFF;
    font-family: "neue-bold";
    font-size: 1.25vw;
    position: absolute;
    text-align: center;
    pointer-events: none;
    width: 100%;
    top: 1.25vh;
}
.btn-header-wallet-icon{
    display: none;
}
.btn-header-whitepaper-button{
    display: none;
}

@media(max-width: 767px){
    /* background header */
    .header-div{
        height: 8vh;
    }
    /* Logo */
    .header-div-logo{
        position: absolute;
        width: 37vw;
        left: 0vw;
        top: 2vh;
    }
    .header-logo{
        width: 5vh;
        margin-left: 1vw;
        cursor: pointer;
    }
    /* Icons */
    .header-div-icon{
        display: none;
    }
    .btn-header-div{
        display: none;
    }
    .btn-header-div-play{
        display: none;
    }
    .btn-header-wallet-icon{
        display: inline-block;
        background: url("../resources/menu/wallet_icon.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 7vw;
        height: 7vw;
        position: absolute;
        right: 4vw;
        top: 4vw;
        cursor: pointer;
    }
    .btn-header-whitepaper-button{
        display: inline-block;
        background: url("../resources/menu/btn_whitepaper.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 30vw;
        --ratio: calc(45 / 168);
        height: calc(30vw * var(--ratio));
        position: absolute;
        right: 15vw;
        top: 4vw;
        cursor: pointer;
    }
}

@media(min-width: 768px) and (max-width: 1023px){
    /* background header */
    .header-div{
        height: 8vh;
    }
    /* Logo */
    .header-div-logo{
        position: absolute;
        width: 37vw;
        left: 0vw;
        top: 2vh;
    }
    .header-logo{
        width: 5vh;
        margin-left: 1vw;
        cursor: pointer;
    }
    /* Icons */
    .header-div-icon{
        display: none;
    }
    .btn-header-div{
        display: none;
    }
    .btn-header-div-play{
        display: none;
    }
    .btn-header-wallet-icon{
        display: inline-block;
        background: url("../resources/menu/wallet_icon.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 5vw;
        height: 5vw;
        position: absolute;
        right: 4vw;
        top: 4vw;
        cursor: pointer;
    }
    .btn-header-whitepaper-button{
        display: inline-block;
        background: url("../resources/menu/btn_whitepaper.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 23vw;
        --ratio: calc(45 / 168);
        height: calc(23vw * var(--ratio));
        position: absolute;
        right: 12vw;
        top: 4vw;
        cursor: pointer;
    }
}