/* pk34 */
/* Full document */
.main-div{
    background: url('../resources/main/bg_image.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
/*Flashlights*/
.flashlights-div{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
.flashlights{
    position: absolute;
    width: 2972.5px;
    left: 0px;
    top: 0px;
}
/*Planet*/
.planet-div{
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.planet-center{
    width: 300vw;
    margin-left: -55vw;
    margin-top: -100vh;
}
/*Ship Left*/
.ship-left-div{
    position: absolute;
    width: 50vw;
    height: 100vh;
    left: 0;
    overflow: hidden;
}
.ship-animation-left{
    width: 50vw;
    left: 0px;
    top: 0px;
}
/*Ship right*/
.ship-right-div{
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.ship-animation-right{
    width: 100vw;
    margin-left: 25vw;
    margin-top: -45vh;
}
/*Mid Panel*/
.midpanel-div{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    /*padding-top: 235px;*/
}
.midpanel-capsule{
    position: relative;
    text-align: center;
    margin-left: -2%;
}
.midpanel{
    width: 25%;
    margin-top: 235px;
}
.midpanel-connect-bkg{
    position: absolute;
    left: 40%;
    margin-top: 235px;
}
.midpanel-connect-txt{
    position: absolute;
    left: 43%;
    margin-top: 560px;
}
.midpanel-connect-btn{
    position: absolute;
    cursor: pointer;
    left: calc(40% + 135px);
    margin-top: 645px;
}
.midpanel-create-wallet-label{
    position: absolute;
    left: calc(40% + 125px);
    top: 750px;
    color: #FFF;
    font-size: 14px;
}
.midpanel-create-new-wallet-label{
    color: #00cfff;
    cursor: pointer;
}
/*.midpanel-wallet-capsule{
    background: url('../resources/images/wallet/Rectangle.png') no-repeat center center fixed;
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: auto;
    overflow: hidden;
}*/
.midpanel-wallet-bkg{
    position: absolute;
    top: 45%;
    left: 45%;
}
.midpanel-wallet-character{
    position: absolute;
    left: calc(50% - 600px);
    top: 26%;
}
.midpanel-wallet-title{
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 700;
    color: #FFF;
    line-height: 39px;
    font-style: normal;
    position: absolute;
    text-align: left;
    height: 40px;
    top: 38%;
    left: 37%;
}
.midpanel-wallet-subtitle{
    position: absolute;
    height: 22px;
    top: 42%;
    left: 37%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    line-height: 22px;
    display: block;
    align-items: center;
    color: #FFFFFF;
}
.midpanel-wallet-tips-div{
    position: absolute;
    top: 46%;
    left: 37%;
    width: 24%;
    text-align: left;
}
.midpanel-wallet-tip{
    color: #FFF;
    font-size: 18px;
}
.midpanel-wallet-btn-back{
    position: absolute;
    left: calc(50% + 235px);
    top: 48%;
    cursor: pointer;
}
.midpanel-wallet-btn-continue{
    cursor: pointer;
}
.midpanel-wallet-title-mnemonic{
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 700;
    color: #FFF;
    line-height: 39px;
    font-style: normal;
    position: absolute;
    text-align: left;
    height: 40px;
    top: 38%;
    left: 35%;
}
.midpanel-wallet-subtitle-mnemonic{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    display: block;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    margin-top: 15px;
}
.midpanel-wallet-footer-mnemonic{
    width: calc(100% - 20px);
    margin-left: 10px;
    text-align: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
}
.midpanel-button-finish-div{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.midpanel-wallet-seed-phrase{
    position: absolute;
    width: 26%;
    left: 35%;
    top: 45%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    display: flex;
    color: #00E0FF;
}
.midpanel-wallet-confirm-input-label{
    position: absolute;
    left: 35%;
    top: 45%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #00E0FF;
}
.midpanel-wallet-confirm-prhase{
    position: absolute;
    width: 423px;
    height: 80px;
    left: 35%;
    top: 48%;
    resize: none;
    overflow: hidden;
    border: none;
    color: #FFFFFF;
    background: rgba(55, 55, 55, 0.5);
}
.midpanel-wallet-password-title{
    position: absolute;
    width: 268px;
    height: 109px;
    left: 35%;
    top: 41%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.midpanel-wallet-password-requirements{
    position: absolute;
    width: 268px;
    height: 109px;
    left: 35%;
    top: 47%;
    text-align: left;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.midpanel-wallet-password-input{
    position: absolute;
    width: 188px;
    height: 34px;
    left: 35%;
    top: 57%;
    color: #FFF;
    background: rgba(55, 55, 55, 0.5);
}
.midpanel-wallet-password-input-confirm{
    position: absolute;
    width: 188px;
    height: 34px;
    left: 48%;
    top: 57%;
    color: #FFF;
    background: rgba(55, 55, 55, 0.5);
}
.midpanel-username-input{
    height: 48px;
    margin: 10px 0px 10px 10px;
    color: #FFF;
    background: rgba(55, 55, 55, 0.5);
    width: calc(100% - 20px);
}
@media(min-width: 426px ) and (max-width: 916px) and (max-height: 425px){
    .midpanel-username-input{
        height: 24px;
        margin: 5px 0px 0px 10px;
        color: #FFF;
        background: rgba(55, 55, 55, 0.5);
        width: calc(100% - 20px);
        font-size: 7px;
    }
    .midpanel-button-finish-div{
        margin-top: 5px;
    }
    .midpanel-wallet-btn-continue{
        width: 75%;
    }
}
/*Logged in*/
.midpanel-user-wallet-account{
    position: absolute;
    left: calc(40% + 150px);
    top: 675px;
    font-weight: 700;
    color: #4cbd2f;
    font-size: 18px;
    cursor: pointer;
}
/*Discord*/
.div-dicord{
    position: absolute;
    left: 5%;
    bottom: 5%;
}
.btn-discord{
    width: 100%;
}
.btn-discord:hover{
    cursor: pointer;
}
@media(max-width: 374px){
    .midpanel-div{
        position: absolute;
        width: 100%;
        height: 70%;
        text-align: center;
        padding-top: 150px;
    }
    /*Flashlight*/
    .flashlights-div{
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    /*Planet*/
    .planet-div{
        width: 100%;
        height: 100vh;
        position: absolute;
        overflow: hidden;
    }
    .planet-center{
        height: auto;
        width: 175%;
        position: absolute;
        left: -35%;
        top: 10%;
    }
    /*Ship Left*/
    .ship-left-div{
        width: 100%;
        left: -35%;
        top: -30%;
    }
    .ship-animation-left{
        height: 100%;
        width: 100%;
    }
    /*Ship Right*/
    .ship-right-div {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .ship-animation-right {
        height: 130%;
        top: 10%;
        position: absolute;
        left: 5%;
        width: 135%;
    }
    /*Mid panel*/
    .midpanel-div {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 50%;
    }
    .midpanel {
        width: 60%;
    }
    /*Discord*/
    .btn-discord{
        width: 60%;
    }
}
@media(min-width: 375px) and (max-width: 424px){
    .midpanel-div{
        position: absolute;
        width: 100%;
        height: 70%;
        text-align: center;
        padding-top: 150px;
    }
    /*Flashlight*/
    .flashlights-div{
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    /*Planet*/
    .planet-div{
        width: 100%;
        height: 100vh;
        position: absolute;
        overflow: hidden;
    }
    .planet-center{
        height: auto;
        width: 175%;
        position: absolute;
        left: -35%;
        top: 10%;
    }
    /*Ship Left*/
    .ship-left-div{
        width: 100%;
        left: -35%;
        top: -30%;
    }
    .ship-animation-left{
        height: 100%;
        width: 100%;
    }
    /*Ship Right*/
    .ship-right-div {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .ship-animation-right {
        height: 130%;
        top: 10%;
        position: absolute;
        left: 5%;
        width: 135%;
    }
    /*Mid panel*/
    .midpanel-div {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 50%;
    }
    .midpanel {
        width: 60%;
    }
    /*Discord*/
    .btn-discord{
        width: 60%;
    }
}
@media(min-width: 425px) and (max-width: 767px){
    .midpanel-div{
        position: absolute;
        width: 100%;
        height: 70%;
        text-align: center;
        padding-top: 150px;
    }
    /*Flashlight*/
    .flashlights-div{
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    /*Planet*/
    .planet-div{
        width: 100%;
        height: 100vh;
        position: absolute;
        overflow: hidden;
    }
    .planet-center{
        height: auto;
        width: 175%;
        position: absolute;
        left: -35%;
        top: 0%;
    }
    /*Ship Left*/
    .ship-left-div{
        width: 100%;
        left: -25%;
        top: -25%;
    }
    .ship-animation-left{
        height: 100%;
        width: 75%;
    }
    /*Ship Right*/
    .ship-right-div {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .ship-animation-right {
        height: 100%;
        top: 20%;
        position: absolute;
        left: 30%;
        width: 100%;
    }
    /*Mid panel*/
    .midpanel-div {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 30%;
    }
    .midpanel {
        width: 55%;
    }
    /*Discord*/
    .btn-discord{
        width: 60%;
    }
}
@media(min-width: 768px) and (max-width: 1023px){
    .midpanel-div{
        position: absolute;
        width: 100%;
        height: 70%;
        text-align: center;
        padding-top: 150px;
    }
    /*Flashlight*/
    .flashlights-div{
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    /*Planet*/
    .planet-div{
        width: 100%;
        height: 100vh;
        position: absolute;
        overflow: hidden;
    }
    .planet-center{
        height: auto;
        width: 175%;
        position: absolute;
        left: -35%;
        top: 0%;
    }
    /*Ship Left*/
    .ship-left-div{
        width: 100%;
        left: -25%;
        top: -25%;
    }
    .ship-animation-left{
        height: 100%;
        width: 75%;
    }
    /*Ship Right*/
    .ship-right-div {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .ship-animation-right {
        height: 100%;
        top: 20%;
        position: absolute;
        left: 30%;
        width: 100%;
    }
    /*Mid panel*/
    .midpanel-div {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 30%;
    }
    .midpanel {
        width: 55%;
    }
    /*Discord*/
    .btn-discord{
        width: 85%;
    }
}
@media(min-width: 1024px) and (max-width: 1439px){
    /*Flashlights*/
    /*Planet*/
    .planet-center{
        width: 300vw;
        margin-left: -55vw;
        margin-top: -65vh;
    }
    /*Ship Left*/
    .ship-left-div{
        width: 45%;
    }
    .ship-animation-left{
        position: absolute;
        width: 570.72px;
        left: 0px;
        top: 0px;
    }
    /*Ship right*/
    .ship-right-div{
        position: absolute;
        width: 50%;
        height: 100%;
        right: 0;
        overflow: hidden;
    }
    .ship-animation-right{
        /*bottom: 0;
        position: relative;
        right: 0;
        height: 100%;
        margin-top: 50%;*/
        top: 136.744px;
        position: absolute;
        right: -256.824px;
        width: 856.08px;
        height: 100%;
    }
    /*Mid Panel*/
    .midpanel-div{
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 235px;
    }
    .midpanel{
        width: 25%;
    }
}