/* pk34 */
/* Full document */
.main-div{
    background: url('../resources/main/bg_image.webp') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
/*Flashlights*/
.flashlights-div{
    overflow: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
.flashlights{
    position: absolute;
    width: 2972.5px;
    left: 0px;
    top: 0px;
}
/*Planet*/
.planet-div{
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.planet-center{
    width: 300vw;
    margin-left: -55vw;
    margin-top: -100vh;
}
/*Ship Left*/
.ship-left-div{
    position: absolute;
    width: 50vw;
    height: 100vh;
    left: 0;
    overflow: hidden;
}
.ship-animation-left{
    width: 50vw;
    left: 0px;
    top: 0px;
}
/*Ship right*/
.ship-right-div{
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.ship-animation-right{
    width: 100vw;
    margin-left: 25vw;
    margin-top: -45vh;
}
/*Mid Panel*/
.div-panel{
    background: url('../resources/main/main_panel.svg');
    background-size: contain;
    position: absolute;
    width: 25vw;
    --ratio: calc(638 / 488);
    height: calc(25vw * var(--ratio));
    left: 37.5vw;
    top: calc(3vw + 10vh);
    overflow: hidden;
}
.title-div-panel{
    position: relative;
    top: 49%;
    left: 37%;
    width: 27.5%;
    height: 6%;
    display: inline-block;
    text-align: center;
}
.title-panel{
    color: #FFFFFF;
    font-weight: 800;
    font-size: 1vw;
    font-family: 'neue-regular';
}
.text-div-panel{
    position: relative;
    width: 49%;
    left: -1%;
    top: 62%;
    height: 10%;
    text-align: center;
    display: inline-block;
}
.text-panel{
    color: #FFFFFF;
    font-family: 'neue-thin';
    font-size: 0.9vw;
}
.span-regular{
    font-family: 'neue-regular';
}
.span-bold{
    font-family: 'neue-bold';
}
.version-div-panel{
    position: relative;
    top: 78%;
    width: 48%;
    left: 27%;
    height: 5%;
    text-align: center;
}
.version-panel{
    color: #FFFFFF;
    font-size: 0.75vw;
    font-family: 'neue-thin';
}
.img-dfinity-logo{
    position: relative;
    width: 10%;
    left: -30%;
    top: 69%;

}
.play-btn-panel{
    position: relative;
    width: 28%;
    left: 37%;
    top: 64%;
    cursor: pointer;
    transition: 100ms;
}
.play-btn-panel:hover{
    width: 30%;
    left: 36%;
    top: 63.75%;
    transition: 200ms;
}

/*Discord*/
.div-dicord{
    position: absolute;
    right: 5%;
    bottom: 5%;
}
.btn-discord{
    width: 100%;
    cursor: pointer;
}

@media(max-width: 374px){
    /*Flashlights*/
    .flashlights{
        position: absolute;
        width: 450vw;
    }
    /*Planet*/
    .planet-div{
        display: none;
    }
    /*Ship Left*/
    .ship-left-div{
        display: none;
    }
    /*Ship right*/
    .ship-animation-right{
        width: 500vw;
        margin-left: -215vw;
        margin-top: -75vh;
    }
    /*Mid Panel*/
    .div-panel{
        width: 80vw;
        height: calc(80vw * var(--ratio));
        left: 10vw;
        top: calc(3vw + 20vh);
    }
    .title-div-panel{
        top: 50%;
    }
    .title-panel{
        font-size: 3vw;
    }
    .text-panel{
        font-size: 2.75vw;
    }
    .version-panel{
        font-size: 2.75vw;
    }

    /*Discord*/
    .div-dicord{
        position: absolute;
        right: 5%;
        bottom: 5%;
    }
    .btn-discord{
        width: 100%;
        cursor: pointer;
    }
}
@media(min-width: 375px) and (max-width: 424px){
    /*Flashlights*/
    .flashlights{
        position: absolute;
        width: 400vw;
    }
    /*Planet*/
    .planet-div{
        display: none;
    }
    /*Ship Left*/
    .ship-left-div{
        display: none;
    }
    /*Ship right*/
    .ship-animation-right{
        width: 500vw;
        margin-left: -215vw;
        margin-top: -75vh;
    }
    /*Mid Panel*/
    .div-panel{
        width: 80vw;
        height: calc(80vw * var(--ratio));
        left: 10vw;
        top: calc(3vw + 20vh);
    }
    .title-div-panel{
        top: 50%;
    }
    .title-panel{
        font-size: 3vw;
    }
    .text-panel{
        font-size: 2.75vw;
    }
    .version-panel{
        font-size: 2.75vw;
    }

    /*Discord*/
    .div-dicord{
        position: absolute;
        right: 5%;
        bottom: 5%;
    }
    .btn-discord{
        width: 100%;
        cursor: pointer;
    }
}
@media(min-width: 425px) and (max-width: 767px){
    /*Flashlights*/
    .flashlights{
        position: absolute;
        width: 300vw;
    }
    /*Planet*/
    .planet-div{
        display: none;
    }
    /*Ship Left*/
    .ship-left-div{
        display: none;
    }
    /*Ship right*/
    .ship-animation-right{
        width: 300vw;
        margin-left: -100vw;
        margin-top: -60vh;
    }
    /*Mid Panel*/
    .div-panel{
        width: 80vw;
        height: calc(80vw * var(--ratio));
        left: 10vw;
        top: calc(3vw + 12vh);
    }
    .title-div-panel{
        top: 50%;
    }
    .title-panel{
        font-size: 3vw;
    }
    .text-panel{
        font-size: 2.75vw;
    }
    .version-panel{
        font-size: 2.75vw;
    }

    /*Discord*/
    .div-dicord{
        position: absolute;
        right: 5%;
        bottom: 5%;
    }
    .btn-discord{
        width: 100%;
        cursor: pointer;
    }
}
@media(min-width: 768px) and (max-width: 1023px){
    /*Flashlights*/
    .flashlights{
        width: 300vw;
    }
    /*Planet*/
    .planet-div{
        position: absolute;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    .planet-center{
        width: 900vw;
        margin-left: -300vw;
        margin-top: -150vh;
    }
    /*Ship Left*/
    .ship-left-div{
        display: none;
    }
    /*Ship right*/
    .ship-animation-right{
        width: 250vw;
        margin-left: -60vw;
        margin-top: -40vh;
    }
    /*Mid Panel*/
    .div-panel{
        width: 60vw;
        height: calc(60vw * var(--ratio));
        left: 20vw;
        top: calc(3vw + 15vh);
    }
    .title-div-panel{
        top: 50%;
    }
    .title-panel{
        font-size: 2vw;
    }
    .text-panel{
        font-size: 2vw;
    }
    .version-panel{
        font-size: 1.75vw;
    }
    .img-dfinity-logo{
        position: relative;
        width: 10%;
        left: -30%;
        top: 69%;

    }

    /*Discord*/
    .div-dicord{
        position: absolute;
        right: 5%;
        bottom: 5%;
    }
    .btn-discord{
        width: 100%;
        cursor: pointer;
    }
}
@media(min-width: 1024px) and (max-width: 1439px){
    /*Flashlights*/
    .flashlights-div{
        overflow: hidden;
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
    }
    .flashlights{
        position: absolute;
        width: 2972.5px;
        left: 0px;
        top: 0px;
    }
    /*Planet*/
    .planet-div{
        position: absolute;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    .planet-center{
        width: 300vw;
        margin-left: -55vw;
        margin-top: -100vh;
    }
    /*Ship Left*/
    .ship-left-div{
        position: absolute;
        width: 50vw;
        height: 100vh;
        left: 0;
        overflow: hidden;
    }
    .ship-animation-left{
        width: 50vw;
        left: 0px;
        top: 0px;
    }
    /*Ship right*/
    .ship-right-div{
        position: absolute;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    .ship-animation-right{
        width: 100vw;
        margin-left: 25vw;
        margin-top: -45vh;
    }
    /*Mid Panel*/
    .div-panel{
        background: url('../resources/main/main_panel.svg');
        background-size: contain;
        position: absolute;
        width: 25vw;
        --ratio: calc(638 / 488);
        height: calc(25vw * var(--ratio));
        left: 37.5vw;
        top: calc(3vw + 10vh);
        overflow: hidden;
    }
    .title-div-panel{
        position: relative;
        top: 49%;
        left: 37%;
        width: 27.5%;
        height: 6%;
        display: inline-block;
        text-align: center;
    }
    .title-panel{
        color: #FFFFFF;
        font-weight: 800;
        font-size: 1vw;
        font-family: 'neue-regular';
    }
    .text-div-panel{
        position: relative;
        width: 49%;
        left: -1%;
        top: 62%;
        height: 10%;
        text-align: center;
        display: inline-block;
    }
    .text-panel{
        color: #FFFFFF;
        font-family: 'neue-thin';
        font-size: 0.9vw;
    }
    .span-regular{
        font-family: 'neue-regular';
    }
    .span-bold{
        font-family: 'neue-bold';
    }
    .version-div-panel{
        position: relative;
        top: 78%;
        width: 48%;
        left: 27%;
        height: 5%;
        text-align: center;
    }
    .version-panel{
        color: #FFFFFF;
        font-size: 0.75vw;
        font-family: 'neue-thin';
    }
    .img-dfinity-logo{
        position: relative;
        width: 10%;
        left: -30%;
        top: 69%;

    }
    .play-btn-panel{
        position: relative;
        width: 28%;
        left: 37%;
        top: 64%;
        cursor: pointer;
        transition: 100ms;
    }
    .play-btn-panel:hover{
        width: 30%;
        left: 36%;
        top: 63.75%;
        transition: 200ms;
    }

    /*Discord*/
    .div-dicord{
        position: absolute;
        right: 5%;
        bottom: 5%;
    }
    .btn-discord{
        width: 100%;
        cursor: pointer;
    }
}