/* Pk34 */
/* Resources */
@font-face {
    font-family: 'neue-regular';
    src: local('neue-regular'), url(../resources/fonts/neue/NeueHaasDisplayMediu.ttf) format('truetype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}
@font-face {
    font-family: 'neue-thin';
    src: local('neue-thin'), url(../resources/fonts/neue/NeueHaasDisplayThin.ttf) format('truetype');
}
@font-face {
    font-family: 'neue-bold';
    src: local('neue-bold'), url(../resources/fonts/neue/NeueHaasDisplayBlack.ttf) format('truetype');
}
/* Menu closed */
.menu-open-icon-div{
    width: 3vw;
    margin-left: 1vw;
    display: inline-block;
    vertical-align: super;
    cursor: pointer;
}
.menu-open-icon{
    width: 100%;
    height: auto;
}

/* Menu opened */
.menu-main-div{
    background: url('../resources/menu/bkg_menu.svg') no-repeat;
    background-size: cover;
    width: 42vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 1000;
}
/* Header */
.menu-header-div{
    height: 10vw;
    width: 100%;
}
.menu-header-logo-div{
    width: 20%;
    height: 100%;
    margin-left: 3%;
    margin-top: 3%;
    display: inline-block;
}
.menu-header-search-div{
    display: inline-block;
}
.menu-header-close-div{
    position: absolute;
    right: 2.5%;
    top: 1%;
    cursor: pointer;
}
.menu-header-close-icon{
    width: 3vw;
}
.menu-logo{
    width: 100%;
}
.input-search-div{
    display: inline-block;
    position: absolute;
    top: 7.5vw;
    right: 3%;
}
.input-search{
    width: 21vw;
    height: 1.88vw;
    border: none;
    box-shadow: none;
    background: url("../resources/menu/input_search.svg") no-repeat;
    background-size: cover;
    padding-left: 2vw;
    color: #FFFFFF;
    font-family: "neue-thin";
    font-size: 2vh;
}
/* Body */
/* Inner Menu */
.menu-body-div{
    height: auto;
    width: 99.5%;
}
.menu-arrow-div{
    width: 4vw;
    display: inline-block;
    padding-left: 3vw;
    vertical-align: sub;
}
.menu-section-div{
    background: url("../resources/menu/menu_section_bkg.svg") no-repeat;
    background-size: cover;
    --r: calc(71 / 820);
    --h: 85vh;
    height: calc(var(--h) * var(--r));
    cursor: pointer;
}
.icon-menu-arrow{
    width: 2vw;
    height: 2vw;
}
.menu-section-title{
    display: inline-block;
    --r: calc(71 / 820);
    --h: 25vh;
    --h2: calc(var(--h) * var(--r));
    padding-top: calc(var(--h2) / 2);
    color: #FFFFFF;
    font-family: "neue-bold";
    font-size: 4.5vh;
    vertical-align: sub;
    cursor: pointer;
}
/* Inner Submenu */
.submenu-div{
    background: url("../resources/menu/submenu_bkg.svg") no-repeat;
    background-size: cover;
}
.submenu-option-div{
    width: 100%;
    padding: 1vh 2vw;
    cursor: pointer;
}
.submenu-option-text{
    font-size: 2.5vh;
    font-family: "neue-regular";
    color: #FFFFFF;
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;
}
.submenu-option-icon{
    display: inline-block;
    margin-left: 0.5vw;
    width: 1vw;
}