.BackGround {
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    --ratio: calc(1080 / 1920);
    height: calc(100vw * var(--ratio));
    padding-top: 7vw;
    margin-top: -6vw;
}

.home p {
    color: white;
    font-size: calc(1vw + 0.75vh);
    text-align: justify;
    font-family: "neue-thin";
}
.txt-strong{
    font-family: "neue-regular";
}

.ships{
    width: 100%;
    max-width: 512px;
}

#nftanvil_icon
{
    width: 10vw;
    max-width: 128px;
}

#nftanvil_btn
{
    width: 20vw;
    --ratio: calc(57 / 242);
    height: calc(20vw * var(--ratio));
    background-color: transparent;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: calc(0.5vw + 0.5vh);
    outline: none !important;
     /*-webkit-tap-highlight-color: transparent;*/
}

#nftanvil_btn:focus,
#nftanvil_btn:active,
#nftanvil_btn:hover {
    outline: none !important;
    border: 0;
     /*-webkit-tap-highlight-color: transparent;*/
} 

#marketplace-btn {
    margin: 0 auto;
    text-align: center;
}

#marketplace-btn:hover {
    color: #FFF;
}

@media screen and (max-width: 767px){

    .parallel-btn {
        display: table;
        padding: 5px 30px;
    }
}