.roadmap-div{
    width: 101vw;
    --ratio: calc(2163 / 1922);
    height: calc(101vw * var(--ratio));
    background: url("../resources/roadmap/roadmap_background.png");
    background-size: cover;
    margin-bottom: calc(-12vh * var(--ratio));
    position: relative;
    z-index: 1;
}
.roadmap-title-div{
    position: absolute;
    width: 30vw;
    top: 10vw;
    left: 15vw;
}
.roadmap-title{
    color: #FFFFFF;
    font-size: 3.25vw;
    font-family: "Orbitron";
    font-weight: 700;
}
.roadmap-title-thin{
    font-weight: 400;
}
.roadmap-title-highlight{
    -webkit-text-stroke-width: 2px;
    stroke-width: 2px;
    -webkit-text-stroke-color: #f738fb;
    stroke: #f738fb;
    -webkit-text-fill-color: #02010100;
    display: block;
    font-weight: 400;
    line-height: 3vw;
    text-shadow: 0px 0px 0px #f738fb00;
    text-transform: capitalize;
    font-size: 3.5vw;
    font-weight: 800;
}
.roadmap-subtitle-div{
    position: absolute;
    width: 30vw;
    top: 10vw;
    left: 55vw;
}
.roadmap-subtitle{
    color: #FFFFFF;
    font-size: 1.45vw;
    font-family: "neue-thin";
    text-align: justify;
    line-height: 1.75vw;
}
.roadmap-subtitle-highlight{
    font-family: "neue-regular";
}
/*Line*/
.roadmap-line{
    position: absolute;
    --width: 2.7vw;
    --half: calc(var(--width) / 2);
    left: calc(50vw - var(--half));
    top: 25vw;
    --ratio: calc(1638 / 56);
    height: calc(var(--width) * var(--ratio));
    width: var(--width);
    background: url("../resources/roadmap/roadmap_line.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
/*Sections*/
.roadmap-section-one-div{
    --width: 60vw;
    position: absolute;
    --half: calc(var(--width) / 2);
    left: calc(50vw - var(--half));
    top: 30vw;
    --ratio: calc(313 / 1239);
    height: calc(var(--width) * var(--ratio));
    width: var(--width);
    background: url("../resources/roadmap/roadmap_bkg_01.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.roadmap-section-one-ships{
    --width: 20vw;
    position: absolute;
    --half: calc(var(--width) / 2);
    left: 1vw;
    top: 2vw;
    --ratio: calc(318 / 446);
    height: calc(var(--width) * var(--ratio));
    width: var(--width);
    background: url("../resources/roadmap/roadmap_section_one_ships.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.roadmap-section-one-number{
    width: 6vw;
    height: 5vw;
    position: absolute;
    left: 21vw;
    top: 5vw;
}
.roadmap-section-number{
    font-family: "neue-bold";
    -webkit-text-stroke-width: 2px;
    stroke-width: 2px;
    -webkit-text-stroke-color: #f738fb;
    stroke: #f738fb;
    -webkit-text-fill-color: #02010100;
    display: block;
    font-weight: 400;
    line-height: 2vw;
    text-shadow: 0px 0px 0px #f738fb00;
    text-transform: capitalize;
    font-size: 3.5vw;
    font-weight: 800;
    text-align: center;
}
.roadmap-section-hr{
    color: #f738fb;
    height: 0.125vw !important;
    opacity: 1;
}
.roadmap-section-text{
    font-family: "neue-bold";
    font-size: 3vw;
    font-weight: 800;
    text-align: center;
    color: #FFFFFF;
    line-height: 2vw;
}
.roadmap-section-textbox{
    --width: 28vw;
    position: absolute;
    --half: calc(var(--width) / 2);
    right: 2vw;
    top: 3vw;
    --ratio: calc(183 / 535);
    height: calc(var(--width) * var(--ratio));
    width: var(--width);
    background: url("../resources/roadmap/roadmap_section_textbox.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.roadmap-section-innertext{
    font-family: "neue-thin";
    font-size: 1.15vw;
    color: #FFFFFF;
    text-align: justify;
    width: 26vw;
    left: 1vw;
    top: 1vw;
    position: absolute;
    line-height: 1.4vw;
}
/*2*/
.roadmap-section-two-div{
    --width: 60vw;
    position: absolute;
    --half: calc(var(--width) / 2);
    left: calc(50vw - var(--half));
    top: 47.5vw;
    --ratio: calc(313 / 1239);
    height: calc(var(--width) * var(--ratio));
    width: var(--width);
    background: url("../resources/roadmap/roadmap_bkg_02.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.roadmap-section-two-ships{
    --width: 35vw;
    position: absolute;
    --half: calc(var(--width) / 2);
    left: -4vw;
    top: -4vw;
    --ratio: calc(318 / 446);
    height: calc(var(--width) * var(--ratio));
    width: var(--width);
    background: url("../resources/roadmap/roadmap_section_two_ships.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.space-top-175{
    top: 1.75vw;
}
/*3*/
.roadmap-section-three-div{
    --width: 60vw;
    position: absolute;
    --half: calc(var(--width) / 2);
    left: calc(50vw - var(--half));
    top: 65vw;
    --ratio: calc(313 / 1239);
    height: calc(var(--width) * var(--ratio));
    width: var(--width);
    background: url("../resources/roadmap/roadmap_bkg_03.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.roadmap-section-three-ships{
    --width: 22vw;
    position: absolute;
    --half: calc(var(--width) / 2);
    left: 0vw;
    top: 0vw;
    --ratio: calc(318 / 446);
    height: calc(var(--width) * var(--ratio));
    width: var(--width);
    background: url("../resources/roadmap/roadmap_section_three_ships.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/*4*/
.roadmap-section-four-div{
    --width: 60vw;
    position: absolute;
    --half: calc(var(--width) / 2);
    left: calc(50vw - var(--half));
    top: 82.5vw;
    --ratio: calc(313 / 1239);
    height: calc(var(--width) * var(--ratio));
    width: var(--width);
    background: url("../resources/roadmap/roadmap_bkg_04.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.roadmap-section-four-ships{
    --width: 18vw;
    position: absolute;
    --half: calc(var(--width) / 2);
    left: 1vw;
    top: 1vw;
    --ratio: calc(318 / 446);
    height: calc(var(--width) * var(--ratio));
    width: var(--width);
    background: url("../resources/roadmap/roadmap_section_four_ships.png");
    background-size: contain;
    background-repeat: no-repeat;
}
/*End*/
.roadmap-dfinity-logo{
    position: absolute;
    --width: 2.7vw;
    --half: calc(var(--width) / 2);
    left: calc(50.1vw - var(--half));
    top: 104vw;
    --ratio: calc(32 / 70);
    height: calc(var(--width) * var(--ratio));
    width: var(--width);
    background: url("../resources/roadmap/dfinity_logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
}